html{
  scroll-behavior: smooth;
}
.section-margin-padding{
  margin-top: 60px;
  margin-bottom: 60px !important;
  padding-top: 1px;
  padding-bottom: 30px;
}
select{
    width: 180px;
}
button{
    width: 100px;
    border: 1px solid black;
    padding: 0px;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
    transition: .4s ease;
}
button:hover{
    background-color: #1F4978;
    color: white;
}
.btn-styled button{
    width: 90px;
    height: 25px;
    font-size: 15px;
}
.btn-submit button{
    width: 140px;
    height: 35px;
    font-size: 18px;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

/* navbar */

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 54px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar li, .sidebar a {
  padding: 8px 8px 0px 0px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #1F4978;
}

.sidebar .closeNav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn, .closebtn {
  cursor: pointer;
  background-color: #123053;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 50px;
}

.openbtn:hover, .closebtn:hover {
  background-color: #000000;
}

.sidebar ul ul{
  position: static; 
  display: none;
}
.sidebar ul .project-tracker-show.show{
  display: block;
}
.sidebar ul .expense-claim-show.show1{
  display: block;
}
.sidebar ul .project-expense-claim-show.show2{
  display: block;
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

select{
  height: 22px;
  width: 200px;
}

.tablink{
  width: 100%;
  height: 50px;
  background-color: rgb(29, 29, 29);
  color: white;
}
.tablink:hover {
  background-color: rgb(84, 84, 84);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 40px 20px;
  height: 100%;
}

/* Delta Summary */
.text-style{
  border: 1px solid black;
  background-color: azure;
  text-align: center;
  width: 60px;
  margin: auto;
}
.red{
  background-color: rgb(255, 98, 98);
}
.green{
  background-color: #6aff80;
}
.yellow{
  background-color: #ffff23;
}

/* Period Summary */
#period_summary table tbody tr td:nth-child(3),
#period_summary table tbody tr td:nth-child(5),
#period_summary table tbody tr td:nth-child(7) {
  text-align: end;
}

/* Milestone Summary */
.ms_table .col-2, .ms_table .col-1{
  border: .5px solid rgb(198, 198, 198);
}

#milestone_summary .row div:nth-child(3),
#milestone_summary .row div:nth-child(5),
#milestone_summary .row div:nth-child(7){
  text-align: end;
}
#milestone_summary .row div:nth-child(2),
#milestone_summary .row div:nth-child(4),
#milestone_summary .row div:nth-child(6) {
  text-align: center;
}

table thead tr, table td{
  text-align: center;
}

/* TA DA Expense */

.ta-da-expense input, .ta-da-expense select{
  width: 170px;
  height: 26px;
}

/* TA DA Expense */

.non-ta-da-expense input, .non-ta-da-expense select{
  width: 170px;
  height: 26px;
}